.header {
    align-items: center;
    box-sizing: border-box;
    background-color: #4c5a70;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    width: 100%;
}

.headerMain-title .title{
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    margin-left: 2rem;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0 5rem;
    display: flex;
}

.menu-item {
    margin-left: 2rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.menu-item:hover{
    color: rgb(119, 21, 21);
    font-weight: bold;
    text-decoration: underline;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .menu-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
    }

    .menu-item {
        margin-right: 0;
        margin-left: 1rem;
    }
}